doctype html
html
  head
    title= `${title} | ${h.siteName}`
    script(src="http://localhost:8080/public/dist/bundle.js")
    //- link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="#")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .header
      h1 Ola k ase
