doctype html
- const isProd = process.env.NODE_ENV === "production";
html
  head
    title= `${title} | ${h.siteName}`
    //- script(src="http://localhost:8080/public/dist/bundle.js")  
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header
        h1 FCC API Projects
    block content
      
