doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css') 
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header.row
      h1 FCC API Projects
    main.row 
      nav.col
        each i in h.menu
          a(href=i.url style=(currentPath.startsWith(i.url) ? 'color: #00bcd4;' : '')) #{i.title}  
      block content
        section
