header
  background: $black
  padding: 0 10px
  h1
    color: whitesmoke

main
  display: flex
  height: 100vh
  +break(sm)
    flex-flow: column

section
  +grid-size(10, 12)
  padding: 10px 20px
  background: white

nav
  +grid-size(2, 12)
  padding: 10px
  background: whitesmoke
  a
    margin: 6px 0

form
  max-width: 400px
  padding: 2px
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
  transition: all 0.2s ease
  &:hover
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.08)
  input, label
    margin: 10px
  input[type="submit"]
    max-width: 80px
  label
    font-weight: 500
    line-height: 1.4
    border-bottom: 1px solid lightgray
